body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #2F4F4F;
  margin: 0;
}

.people {
  padding: 30px 0 0;
}

.container {
  display: grid;
  min-width: 950px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 231px);
  grid-gap: 30px 30px;
  justify-content: center;
}

.person {
  position: relative;
}

.person:hover {
  border-radius: 10px;
  animation-name: biggerAtlete;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.photo {
  position: relative;
  margin-bottom: 8px;
}

.photo img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
}

.person:hover img {
  animation-name: chngPic;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.photo .rank {
  position: absolute;
  padding: 8px 0 0;
  width: 32px;
  height: 32px;
  background-color: white;
  color: #8b0000;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  right: 14px;
  top: 83px;
  border-radius: 16px;
  box-sizing: border-box;
}

.details {
  z-index: 2;
}

.details .name {
  display: block;
  text-align: center;
}

.extra {
  display: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.person:hover .extra{
  display: block;
  color: #2F4F4F;
}

.details .extra:hover {
  display: block;
}

@keyframes biggerAtlete {
  from {
    background-color: #eee;
    z-index: 2;
    transform: scale(1);
    height: 264px;
  }
  50% {
    background-color: #eee;
    z-index: 2;
    transform: scale(1.1);
    height: 264px;
  }
  to {
    background-color: #eee;
    z-index: 2;
    transform: scale(1.32);
    height: 264px;
  }
}

@media (max-width: 949px) {
  .container {
    display: grid;
    min-width: 950px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, 231px);
    grid-gap: 30px 30px;
    justify-content: center;
  }
}
